* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
:root{
    --cor1:#e8e6e7;
}

body {
    background: var(--cor1); 
    transition: 0.5s;
}

header {
    padding: 20px 70px;
}

.navigation {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.navigation .logo {
    width: 50px;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navigation ul li a {
    color: #000000;
    font-weight: 600;
    padding: 4px 4px 4px 4px;
    transition: all 0.5s ease-in-out;
}

.navigation ul li a:hover {
    color: #fff;
    border-bottom: 1px solid rgb(68, 68, 68);
    background: black;
    border-radius: 7px;
}

.navigation .check {
    color: #fff;
    border-bottom: 1px solid #fff;
}

/*modo preto*/
.trilho {
    width: 90px;
    height: 50px;
    border-radius: 150px;
    background-color: #c3c3c3;
    position: relative;
    cursor: pointer;
}


.trilho .indicador{
    width: 47px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.trilho.dark {
    background-color: #4d4d4d;
}


.trilho.dark .indicador {
    left: 43px;
    background-color: black;
}

body.dark {
    background-color: #000000f8;
}

h3.dark {
    color: white;
}

p.dark {
    color: #fff;
}

img.dark {
    color: white;
    background: white;
}

/*modo preto*/

/*main*/

main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
}

.main-text{
    margin-right: 0px;
}

.main-text img {
    width: 15rem;
    margin-bottom: 3vh;
}

.main-text h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;    
}

.main-text p {
    margin-bottom: 1.5rem;
}

.main-text h6 {
    color: #999;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.main-text .btn {
    padding: 10px 20px;
    background-color: rgb(27, 27, 27);
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    transition: all 0.5s;
}

.main-text .btn:hover {
    box-shadow: 0px 0px 16px 4px rgba(135, 19, 189, 0.438);
    opacity: .85;
}

.main-text .text h5 {
    font-size: 1rem;
    color: #444;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.main-text .content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-text .content span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px #888;
    transition: all 0.5s;
}

.main-text .content span:hover {
    opacity: .80;
}

/*cores*/
#green {
background: #384937 ;
}

#pink {
background: #f8ddd6 ;
}

#blue {
background: #225f7e ;
}

#black {
background: #192028 ;
}

#white {
background: #f7f2ee ;
}

#red{
background: #ae0617 ;
}

/*sombras*/

#green:hover {
    box-shadow: 1px 1px 5px 4px #384937;
}

#pink:hover {
    box-shadow: 1px 1px 5px 4px #f8ddd6;
}

#blue:hover {
    box-shadow: 1px 1px 5px 4px #225f7e;
}

#black:hover {
    box-shadow: 1px 1px 5px 4px #192028;
}

#white:hover {
    box-shadow: 1px 1px 5px 4px #f7f2ee;
}

#red:hover {
    box-shadow: 1px 1px 5px 4px #ae0617;
}

.main-img {
    transition: all 1s ease;
    z-index: 100;
}

.main-img img {
    width: 500px;
    transform: rotate(-7deg);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 128%;
    background-color: #445c42;
    clip-path: circle(800px at right 1000px);
} 